// Main color
$white: #ffffff;
$black: #000000;

$appPrimary : #67e6dc;
// $appPrimary : #7158e2;
// $appPrimary : #1289A7;

// background colors
$bgPrimary: #1e2125;
$bgSecondary: #292e33;
$bgSecondary_transparent: #30415188;
$chartBox: #192734;
$bgfooter: #35414a;
$userCard: #161616;

// text Colors
$txtColor: #b1b1b1;
$txtActive: #67e6dc;
$txtSecondary: #8899a6;
$txtSuccess : #0acf0a;

// border colors
$borderPrimary: #304151;
$borderSecondary: #203849;
$homeMenuText: #304151;
$homeContentText: #35414a;
